*{
    box-sizing: border-box;
}


body{
    font-family: Century Gothic;
    margin: 0;
    background-color: rgba(47, 8, 125, 0.15);
    height: 100%;
   
}

.hr-shadow {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
   }


main{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
   
}
/*список*/


  /*Карточки*/
  .photo{

    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    width: 800px;
    margin: 20px auto;
   
    
    
  }
  .conteiner2{
    margin: auto;
  }
   
 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
 }
 
footer{
      height: 200px;
      margin-top: auto;
      border: 1px solid black;
      border-bottom: none;
      
}
.container {
            
    gap: 50px;
    width: 800px;
    margin: auto;
   
              margin-top: 1.5rem !important;

}