*{
    box-sizing: border-box;
}


body{
   font-family: Century Gothic;
    margin: 0;
    background-color: rgba(47, 8, 125, 0.15);
   flex-direction: column;
    display: flex;
    min-height: 100vh;
}

.hr-shadow {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
   }

   main{
    display: flex;
    flex-direction: column;
   
}
main {
    display: block;
    unicode-bidi: isolate;
      padding-left: 150px;
}

.content-container-3 {

    display: flex;
    margin: 0 auto;
    width: 800px;
}
.pushkin-info {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 22px;
    line-height: 40px;
}
.info1 {
    display: flex;
    justify-content: center;
    font-size: 22px;
}


 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
 }

footer{
      height: 200px;
      margin-top: auto;
      border: 1px solid black;
      border-bottom: none;
       border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
      
}
p {
    font-size: 22px;
}
   .container {
            
            
   
    width: 800px;
    margin: 20px auto;
   
              margin-top: 1.5rem !important;

        }
